CLIENT_URL=http://localhost:3000
SECRET=
SERVER_PORT=5000
XUMM_API_KEY=
XUMM_API_SECRET=
INFURA_API_KEY=
INFURA_API_KEY_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
PLATFORM_XRP_ACCOUNT=
PLATFORM_XRP_SECRET=